<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') -%>
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}) -%>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Meu nome é Victor, sou programador iniciante e tamo aí na atividade</p>
        </div>
    <%- include('../partials/footer') -%>
</body>
</html>